<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome to the Dashboard <%= user %></h1>

    <% if (gender == "male") { %>
    <h1>You are welcome MALE</h1>
    <% } else { %>

    <h1>You are welcome FEMALE</h1>

    <% } %>


    <!-- <h1>Loop</h1>
     <% for( let index = 0; index < studentUsers.length; index++ ) { %>

        <h1><%= studentUsers[index].firstname %> <%= studentUsers[index].lastname %></h1>
    
    <% } %>  -->

    <h1>Map</h1>
    <% studentUsers.map((user)=>{ %>
        <h1><%= user.firstname %> <%= user.lastname %></h1>
        <form action="/delete/<%= user.id %>" method="POST" style="display: inline;">
          <button onclick="return confirm('Are you sure?')">Delete</button>
        </form>
        
        <a href="/edit-user/<%= user.id %>"><button>Edit</button></a>
        
     
    <% }) %>


  </body>
</html>
